package main

templ hello(name string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Your Website</title>
			<link rel="icon" href="/static/favicon.svg" type="image/svg+xml"/>
		</head>
		<body>
			@greet(name)
		</body>
	</html>
}

templ greet(name string) {
	<div>Hello { name }</div>
}
